.bt{
	width: 100%;
	height: 30px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-left: 155px;
	box-sizing: border-box;
}
.bt p{
	font-size: 16px;
}
.main{
	width: 1200px;
	height: 980px;
	margin: 0 auto;
}
.main a{
	display: block;
	width: 1200px;
	height: 300px;
	background: url(../img/conBanner.png)no-repeat;
}
.tlist{
	width: 1200px;
	height: 34px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.tlist span{
	display: block;
	width: 114px;
	height: 34px;
	background: #005BAA;
	color: white;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.dd_main{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 25px 10px 0 10px;
	border: 1px solid #ccc;
}
.main_top{
	width: 100%;
	height: 35px;
	box-sizing: border-box;
	padding-left: 15px;
	line-height: 35px;
	margin-bottom: 15px;
}
#ds01{
	float: left;
	border: 2px solid #bfbdb8;
	width: 250px;
	height: 30px;
}
#ds02{
	float: left;
	width: 76px;
	height: 34px;
	border: 2px solid #bfbdb8;
	cursor: pointer;
	margin-right: 55px;
}
#de04{
	margin-right: 30px;
}
.ds02{
	width: 76px;
	height: 34px;
	border: 2px solid #bfbdb8;
	cursor: pointer;
	margin-left: 55px;
}
.dd_u1{
	float: left;
	width: 100%;
	height: 32px;
    line-height: 32px;
    background: #999;
    margin-bottom: 15px;
}
.li01{
	float: left;
	width: 302px;
	color: white;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #ccc;
}
.cur{
	width: 155px;
}
.cur1{
	width: 170px;
}
.cur2{
	width: 150px;
}
.cur3{
	width: 190px;
}
.cur4{
	width: 204px;
	border: none !important;
}
.tab01{
	width: 100%;
	height: 280px;
	border: 1px solid #BBB4B4;
}
.td01,th{
	border: 1px solid #BBB4B4;
}
.td01{
	display: block;
	height: 35px;
	background: #DFDFDF;
	line-height: 35px;
	padding:2px 10px 0 10px;
	box-sizing: border-box;
}
.td01 a{
	color: white;
	width: 70px;
	height:28px;
	float: right;
	background: #005BAC;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
}
.td02{
	display: block;
	height: 122px;
	border-bottom: 1px solid #ccc;
}
.td03{
	display: block;
	height: 122px;
}
.li02{
	float: left;
	width: 301px;
	height: 120px;
	line-height: 120px;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #ccc;
	background: url(../img/products3.png)no-repeat 15px center;
	background-size: 30%;
}
.li03{
	height: 120px;
	float: left;
	text-align: center;
	line-height: 120px;
	border-right: 1px solid #ccc;
}
.bimg{
	background: url(../img/products4.png)no-repeat 15px center;
	background-size: 30% ;
}
.l_s{
	display: block;
	width: 150px;
	float: left;
	overflow: hidden;
	font-size: 16px;
	text-align: left;
	padding: 20px 0 0 100px;
}
.l02{
	float: left;
	width: 301px;
	height: 120px;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #ccc;
	
}
.k{
	float: left;
	width: 100%;
	height: 20px;
	
}
