.bt{
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 155px;
	box-sizing: border-box;
}
.bt p{
	font-size: 16px;
}
.bt_content{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	background: url(../img/conBanner.png)no-repeat;
}
.content_s{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 15px;
}
.content_s span{
	display: block;
	width: 100px;
	height: 30px;
	background: #E10012;
	color: white;
	text-align: center;
	line-height: 30px;

}
.cur{
	background: #060608 !important;
}
.xq_content{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid #BBB4B4;
	float: left;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
}
.xq_con{
	display: block;
	width:100%;
	height: 79%;
	float: left;
	border: 1px solid #BBB4B4;
}
.first_tr{
	width: 100%;
	height: 35px;
}
.th01{
	width: 300px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-right: 1px solid #CCCCCC;
	background: #999;
}
.th02{
	width: 135px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-right: 1px solid #CCCCCC;
	background: #999;
}
.th03{
	width: 180px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-right: 1px solid #CCCCCC;
	background: #999;
}
.th04{
	width: 170px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-right: 1px solid #CCCCCC;
	background: #999;
}
.th05{
	width: 250px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-right: 1px solid #CCCCCC;
	background: #999;
}
.th06{
	width: 140px;
	height: 35px;
	line-height: 35px;
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background: #999;
}
.two_tr{
	width: 100%;
	height: 141px;
	border-bottom: 1px solid #cccccc;
}
.th01_t{
	border-right: 1px solid #CCCCCC;
	padding: 10px;
	line-height: 120px;
	background: url(../img/products3.png)no-repeat 45px center;
	background-size: 30%;
}
.th01_t span{
	float: right;
    position: relative;
    left: -65px;
    top:-10px;
    font-size: 14px;
}  
.th02_t{
	border-right: 1px solid #CCCCCC;
	line-height: 120px;
	text-align: center;
	font-size: 14px;
}
.th03_t{
	border-right: 1px solid #CCCCCC;
	float: left;
	width: 100%;
	height: 139px;
	padding: 60px 30px;
	box-sizing: border-box;
	text-align: center;
}
.main{
	width: 1200px;
	height: 1555px;
	margin: 0 auto;
}
.th04_t{
	text-align: center;
	border-right: 1px solid #CCCCCC;
}
.th05_t{
	text-align: center;
}
.th01_t02{
	border-right: 1px solid #CCCCCC;
	padding: 10px;
	line-height: 120px;
	background: url(../img/products7.png)no-repeat 45px center;
	background-size: 30%;
	
}
.th01_t02 span{
	float: right;
	display: block;
	width: 150px;
	overflow: hidden;
	line-height: 2;
	position: relative;
	top: 20px;
}
.th01_t03{
	border-right: 1px solid #CCCCCC;
	padding: 10px;
	line-height: 120px;
	background: url(../img/products2.png)no-repeat 45px center;
	background-size: 30%;
}
.th01_t03 span{
	float: right;
	display: block;
	width: 150px;
	overflow: hidden;
	line-height: 2;
	position: relative;
	top: 20px;
}
.main_bo{
	float: left;
	width: 1180px;
	height: 115px;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	padding: 20px 0 20px 30px;
	line-height: 75px;
}
.sp_b{
	float: left;
	font-size: 18px;
	font-weight: bold;
}
.sp_r{
	font-size: 14px;
	float: left;
	color: #E10012;
	margin-right: 50px;
	font-weight: bold;
}
.bj_re{
	float: left;
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.bj_01{
	width: 100px;
	height: 30px;
	float: left;
	background: #E10012;
	color: white;
	text-align: center;
	line-height: 30px;
}
.bj_02{
	width: 500px;
	height: 30px;
	float: right;
	background: #E10012;
	color: white;
	text-align: center;
	line-height: 30px;
}
.user_xx{
	float: left;
	width: 1200px;
	height: 259px;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.user_xx h5{
	height: 35px;
	border-bottom: 1px solid #cccccc;
	padding-left: 25px;
	box-sizing: border-box;
	line-height: 35px;
	font-size: 16px;
}
.li_x1{
	height: 75px;
	border-bottom: 1px solid #cccccc;
	padding-left: 35px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-right: 20px;
}
.inp_r{
	float: left;
	margin-right: 20px;
}
.xx01{
	float: left;
	width:800px;
	height: 15px;
}
.xx02{
	float: left;
	width:500px;
	height: 25px;
	box-sizing: border-box;
	padding-left: 30px;
	margin-top: 6px;
	text-align: center;
	line-height: 25px;
}
.xx02 a{
	display: block;
	float: left;
	width: 68px;
	height: 24px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-right: 15px;
	background: #F1F1F1;
}
.ari{
	float: right;
	display: block;
	width: 108px;
	height: 30px;
	background: #E10012;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border-radius: 5px;
}
.ps{
	float: left;
	width: 1200px ;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.ps span{
	display: block;
	width: 100px;
	height: 30px;
	background: #E10012;
	color: white;
	text-align: center;
	line-height: 30px;
}
.ptps{
	float: left;
	width: 1200px;
	height: 85px;
	margin: 0 auto;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	padding: 8px;
	margin-bottom: 10px;
}
.ptps_top{
	width: 100%;
	height: 32px;
	background: #999;
	border: solid 1px #D5D5D5;
	text-align: center;
	
}
.ptps_top ul li{
	float: left;
	height: 31px;
	text-align: center;
	color: white;
	line-height: 30px;
}
.li_01{
	float: left;
	width: 285px;
	font-size: 16px;
}
.li_02{
	float: left;
	width: 606px;
	border-right: 1px solid #ccc;
	font-size: 16px;
}
.ptps_but{
	width: 100%;
	height: 32px;
	border: solid 1px #D5D5D5;
	text-align: center;
	line-height: 32px;
}
.curr{
	width: 608px;
}
.curr1{
	width: 286px;
}
.bs{
	background: white;
}
.sz{
	width: 221px;
	color: black !important;
	font-size: 18px !important;
}
.sz1{
	width: 511px;
	color: black !important;
	font-size: 18px !important;
}
.br{
	border-right: none;
}
.btn{
	border-top: none;
}
.but_div{
	float: left;
	width: 1200px;
	height: 185px;
	border: 1px solid #ccc;
	margin: 0 auto;
}
.but_div ul li{
	clear: both;
	width: 100%;
	height: 31px;
	line-height: 31px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding-left: 25px;
}
.but_div ul li p{
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.but_div ul li p span{
	color: red;
	font-size: 18px;
	font-weight: bold;
}
#dj_dd{
	float: left;
	margin-left: 500px;
	border: none;
	width: 183px;
	height: 50px;
	margin-top: 20px;
	background: url(../img/fyzj_Tabfist.jpg)no-repeat;

}
