.newsH3{ border-bottom:dashed 1px #949393; color:#005FAF;}
.newsCon{ padding:0 120px;}
.newsCon p{ text-align:left; font-size:13px; font-family:"宋体"; line-height:170%; color:#6C6C6C; margin-top:25px; text-indent:2em;}
.newsCon img{ margin-top:35px; max-width:900px; display:inline-block;}
.newsCon p a{ color:#6C6C6C;}
.newsMessage span{ font-size:13px; font-family:"宋体"; color:#6C6C6C;}
.newsMessage span a{ color:#6C6C6C;}
li{float: left;}
